:root{
    --main-color: rgba(144, 94, 73, 0.198);
    --main-color-hover: rgba(144, 94, 73, 0.647);
    --text-color: rgb(0, 3, 60); 
    --sidebar-color: rgb(164, 83, 83);  
}

::selection{
    background-color: black;
    color: white;
}

body{
    color: var(--text-color);
    font-size: 1.2rem;
}

.full-page-grid{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr minmax(300px, 20%);
    grid-template-rows: 100px 1fr;

}

.header{
    grid-column: 1/3;
    grid-row: 1/2;

    background-color: white;


    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;

    padding-left: 100px;
    padding-right: 300px;

    -webkit-box-shadow: 4px 10px 15px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 10px 15px -7px rgba(0,0,0,0.4);
    box-shadow: 4px 10px 15px -7px rgba(0,0,0,0.4);
}

.header div{
    display: flex;
    align-items: center;
    gap: 20px;

}

.header div h1{
   margin-bottom: -15px; 
}

h1{
    font-size: 3rem;
}

.sidebar{
    grid-column: 2/3;
    grid-row: 2/3;

    background-color: var(--sidebar-color);
    color: white;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .line{
    background-color: white;
    height: 2px;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar div{
    display: flex;
    justify-content: space-between;
}

.book-grid{
    grid-column: 1/2;
    grid-row: 2/3;

    background-color: var(--main-color);

    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;


}

.book-grid .bookinfo{
    background-color: white;
    padding: 20px;

    border-radius: 6px;
    
    font-size: 1.1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;


}

.title{
    font-size: 1.6rem;
    align-self: center;
}