:root{
    --main-font: 'Roboto Mono', monospace;
    font-family: 'Roboto Mono', monospace;
}

::selection{
    background-color: black;
    color: white;

}

.paragr{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    background-color: var(--whitecolor);
    border: #000000 solid 3px;
    border-radius: 3px;
    font-size: 1.5rem;
}

.new_book{
    padding: 10px 20px;
}

.new_book:hover{
    background-color: #eeeeee;
}

.new_book:active{
    background-color: #777777;
}

.forminputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.topForm{
    display: flex;
    justify-content: space-between;

}

.cancel:hover{
    background-color: #fe0000;
}

#popUpform{
    width: min(700px, 60vw);
    padding-bottom: 30px;
    margin:auto;
    margin-top: 20vh;

    
}

input[type="text"], input[type="number"]{
    width: min(250px, 30%);
    height: 22px;
    border: black solid 1px;
    border-radius: 2px;
    background-color: #eeeeee;
}