:root{
    --main-font: 'Roboto Mono', monospace;
    font-family: 'Roboto Mono', monospace;
}

body{
    height: auto;
}

::selection{
    background-color: black;
    color: white;

}

.submitBtn:hover{
    background-color: #eee;
}

.submitBtn:active{
    background-color: rgba(172, 255, 47, 0.23);
}

.paragr{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    background-color: var(--whitecolor);
    border: #000000 solid 3px;
    border-radius: 3px;
    font-size: 1.5rem;
}

.new_book{
    padding: 10px 20px;
}

.new_book:hover{
    background-color: #eeeeee;
}

.new_book:active{
    background-color: #777777;
}

.forminputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.topForm{
    display: flex;
    justify-content: space-between;

}

.cancel:hover{
    background-color: #fe0000;
}

#popUpform{
    width: min(700px, 60vw);
    padding-bottom: 30px;
    margin:auto;
    margin-top: 20vh;

    
}

input[type="text"], input[type="number"]{
    width: min(250px, 30%);
    height: 22px;
    border: black solid 1px;
    border-radius: 2px;
    background-color: #eeeeee;
}

.booksLayout{
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 5px;
}




.footer{
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;

}

#middlepage{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.book{
    background-color: #eeeeee72;
    border: #999999 dashed 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.book button {
    padding: 5px 10px;
    border: #000000 solid 1px;
    border-radius: 1px;
}

button:hover {
    cursor: pointer;
}



.haveReadYes{
    background-color: rgba(172, 255, 47, 0.379);
}

.haveReadNo{
    background-color: #fe000057;
}

.haveReadYes:hover{
    background-color: rgba(238, 255, 47, 0.379);
}

.haveReadNo:hover{
    background-color: rgba(238, 255, 47, 0.379);
}